body {
    font-family: 'Roboto', sans-serif;
}

h1 {

    font-family: 'Patua One', cursive;
    text-transform: uppercase;
    font-size: 4em;
}


h3 {

    font-family: 'Patua One', cursive;
    text-transform: uppercase;
    font-size: 2em;
}


img {
    width: 100%;
}

#menu .sectionwrapper {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
}

#menu .column {
    flex-grow: 1;
    flex-basis: 250px;
}


.hs-responsive-embed-youtube iframe {
    position: absolute;
    width: 100%!important;
    height: 100%!important;
}

.hs-responsive-embed-youtube {
    margin: 20px;
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 Aspect Ratio */
    padding-top: 25px;
}

#kontakt .sectionwrapper {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
}
